<a href="https://colab.research.google.com/github/eriksilva01/cientista-de-dados/blob/main/govpb_impostos_set2024_jpynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- **TASKS**
0.   Filtrar coluna por ordem alfabética decrescente
1.   Filtrar Colunas desejadas
2.   Remover espaços em branco, pontos ou traços na coluna
3.   Verificar se existem dados duplicados na coluna 'Veículo'

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df=pd.read_excel('/content/matriz_impostos.xlsx')

In [5]:
df

,N,Veículo,Contratado,Pis,Entregues,Status,Dias,Média diária,2024-09-06 00:00:00,2024-09-07 00:00:00,...,2024-09-22 00:00:00,2024-09-23 00:00:00,2024-09-24 00:00:00,2024-09-25 00:00:00,2024-09-26 00:00:00,2024-09-27 00:00:00,2024-09-28 00:00:00,2024-09-29 00:00:00,2024-09-30 00:00:00,Média real
0,1,1001 NOTICIAS (33644),5556,NaN,6365,ENTREGUE,24,232,171,238,...,0,0,0,0,0,0,0,0,0,637
1,2,A FONTE É NOTÍCIA - A FONTE (33642),15000,NaN,18335,ENTREGUE,24,625,5911,2751,...,0,0,0,0,0,0,0,0,0,1834
2,3,A PALAVRA ONLINE (33532),6667,NaN,14721,ENTREGUE,24,278,257,70,...,0,0,0,0,0,0,0,0,0,1472
3,4,ACESSO POLITICO (33645),31667,NaN,37493,ENTREGUE,24,1319,5908,5143,...,0,0,0,0,0,0,0,0,0,3749
4,5,AGENCIA PARAIBA (33564),14286,NaN,413,UNDER,24,595,73,13,...,0,0,0,0,0,0,0,0,0,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,205,VEJA PARAIBA (33580),10715,NaN,11980,ENTREGUE,24,446,20,1704,...,0,0,0,0,0,0,0,0,0,1198
205,206,VITRINE DO CARIRI (33729),25000,NaN,29892,ENTREGUE,24,1042,2839,1995,...,0,0,0,0,0,0,0,0,0,2989
206,207,VITRINE PATOS (33730),5716,NaN,3729,UNDER,24,238,336,295,...,0,0,0,0,0,0,0,0,0,373
207,208,VOZ DA PARAIBA (33660),36667,NaN,21368,UNDER,24,1528,2284,1897,...,0,0,0,0,0,0,0,0,0,2137
208,209,WSCOM (33714),112500,NaN,57029,UNDER,24,4688,7862,6820,...,0,0,0,0,0,0,0,0,0,5703

In [6]:
# 0. FILTRAR COLUNA POR ORDEM ALFABÉTICA DECRESCENTE
order_alphab = df.sort_values(by='Veículo', ascending=False)
order_alphab

,N,Veículo,Contratado,Pis,Entregues,Status,Dias,Média diária,2024-09-06 00:00:00,2024-09-07 00:00:00,...,2024-09-22 00:00:00,2024-09-23 00:00:00,2024-09-24 00:00:00,2024-09-25 00:00:00,2024-09-26 00:00:00,2024-09-27 00:00:00,2024-09-28 00:00:00,2024-09-29 00:00:00,2024-09-30 00:00:00,Média real
208,209,WSCOM (33714),112500,NaN,57029,UNDER,24,4688,7862,6820,...,0,0,0,0,0,0,0,0,0,5703
207,208,VOZ DA PARAIBA (33660),36667,NaN,21368,UNDER,24,1528,2284,1897,...,0,0,0,0,0,0,0,0,0,2137
206,207,VITRINE PATOS (33730),5716,NaN,3729,UNDER,24,238,336,295,...,0,0,0,0,0,0,0,0,0,373
205,206,VITRINE DO CARIRI (33729),25000,NaN,29892,ENTREGUE,24,1042,2839,1995,...,0,0,0,0,0,0,0,0,0,2989
204,205,VEJA PARAIBA (33580),10715,NaN,11980,ENTREGUE,24,446,20,1704,...,0,0,0,0,0,0,0,0,0,1198
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,5,AGENCIA PARAIBA (33564),14286,NaN,413,UNDER,24,595,73,13,...,0,0,0,0,0,0,0,0,0,41
3,4,ACESSO POLITICO (33645),31667,NaN,37493,ENTREGUE,24,1319,5908,5143,...,0,0,0,0,0,0,0,0,0,3749
2,3,A PALAVRA ONLINE (33532),6667,NaN,14721,ENTREGUE,24,278,257,70,...,0,0,0,0,0,0,0,0,0,1472
1,2,A FONTE É NOTÍCIA - A FONTE (33642),15000,NaN,18335,ENTREGUE,24,625,5911,2751,...,0,0,0,0,0,0,0,0,0,1834
0,1,1001 NOTICIAS (33644),5556,NaN,6365,ENTREGUE,24,232,171,238,...,0,0,0,0,0,0,0,0,0,637

In [7]:
# 1. FILTRAR COLUNAS DESEJADAS
column_filter = df[['Veículo','Contratado', 'Entregues']]
column_filter

                                 Veículo  Contratado  Entregues
0                  1001 NOTICIAS (33644)        5556       6365
1    A FONTE É NOTÍCIA - A FONTE (33642)       15000      18335
2               A PALAVRA ONLINE (33532)        6667      14721
3                ACESSO POLITICO (33645)       31667      37493
4                AGENCIA PARAIBA (33564)       14286        413
..                                   ...         ...        ...
204                 VEJA PARAIBA (33580)       10715      11980
205            VITRINE DO CARIRI (33729)       25000      29892
206                VITRINE PATOS (33730)        5716       3729
207               VOZ DA PARAIBA (33660)       36667      21368
208                        WSCOM (33714)      112500      57029

[209 rows x 3 columns]

In [39]:
# 2. REMOVER ESPAÇOS EM BRANCO E NORMALIZAR A FORMATAÇÃO DOS DADOS DA COLUNA
dados_filter = df['Veículo'].str.strip().str.capitalize()
# REMOVENDO OS NÚMEROS ENTRE PARENTESES INSERIDOS NAS COLUNAS
remove_number_dados = dados_filter.str.replace(r'\(\d+\)', '', regex=True)
remove_number_dados
veiculos_totais=df[['Veículo','Contratado', 'Entregues']]
veiculos_totais

                          Veículo  Contratado  Entregues
0                  1001 noticias         5556       6365
1    A fonte é notícia - a fonte        15000      18335
2               A palavra online         6667      14721
3                Acesso politico        31667      37493
4                Agencia paraiba        14286        413
..                            ...         ...        ...
204                 Veja paraiba        10715      11980
205            Vitrine do cariri        25000      29892
206                Vitrine patos         5716       3729
207               Voz da paraiba        36667      21368
208                        Wscom       112500      57029

[209 rows x 3 columns]

In [29]:
# VERIFICAR SE EXISTEM DADOS DUPLICADOS NA COLUNA VEÍCULO
dados = remove_number_dados
dados[dados.duplicated()]

185    Radar sertanejo
Name: Veículo, dtype: object

In [10]:
dados.value_counts()

Veículo
Radar sertanejo                       2
1001 noticias                         1
Poder paraiba                         1
Polemica paraiba - ay multimidias     1
Polemica patos                        1
                                     ..
Espaço pb                             1
Expresso pb                           1
Extra paraiba                         1
Extra pb - marcone ferreira           1
Wscom                                 1
Name: count, Length: 208, dtype: int64

In [ ]:
#

In [40]:
# SALVAR ARQUIVO

veiculos_totais.to_excel('dados_filtrados.xlsx', index=False)